.partners{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;   
}
.partners__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.partners__item{
    max-width: 110px;
    margin-bottom: 49px;
}
.partners__item:last-child{
    margin-bottom: 10px;
    max-width: 39px;
    margin-left: 39px;
}
.partners__img{
    max-width: 100%;
    filter: grayscale(1);
    transition: 0.3s;
}
.partners__img:hover{
    filter: grayscale(0)
}

.partners__title{
    font-size: 18px;
    text-transform: uppercase;
}